.upcoming-tag {
    background-color: rgb(136, 146, 0);
    color: #fff;
    padding: 3px 9px;
    border-radius: 3px;
}
.rightbar .box-style {
    width: 125.5%;
    background-color: white;
    border-radius: 10px;
    margin-top: 2%;
}

    .rightbar .box-style:hover {
        box-shadow: 1px 1px 7px #999999;
    }

/* hidden pagination  */
.main-pagnation {
    display: var(--pagination-hidden);
}

.rightbar .date-box-style {
    width: 50px;
    margin-top: 17px;
    /* margin-top:25%; */
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #e6e6e6;
}

.rightbar .doc-detail {
    padding-left: 9%;
}

.rightbar .date-box-style h5 {
    padding-top: 12%;
    font-size: 1.8rem;
    line-height: 20px;
    font-weight: 700;
}

.rightbar .date-box-style span {
    font-weight: 700;
    color: darkgray;
    font-size: 1.3rem;
}

.rightbar .doc-detail .app-doc-name {
    margin-top: 13px;
}

    .rightbar .doc-detail .app-doc-name .doc-name-style {
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 500;
        color: black;
    }

.rightbar .doc-detail .app-time {
    margin-top: 4px;
    color: #157d00;
    font-size: 0.8rem;
    line-height: 18px;
    font-weight:490;
}

.rightbar .doc-detail .app-place {
    margin-top: 0px;
    color: #797887;
    font-size: 0.9rem;
    line-height: 25px;
}



.cancelled-tag {
    background-color: rgb(226, 51, 51);
    color: #fff;
    padding: 3px 9px;
    border-radius: 3px;
}


.sucessfull-tag {
    margin-top: 2px;
    background-color: rgb(49, 216, 49);
    color: white;
    padding: 3px 9px;
    border-radius: 3px;
}

.upcoming-tag {
    margin-top: 2px;
    background-color: yellowgreen;
    color: white;
    padding: 3px 9px;
    border-radius: 3px;
}

.btn-style {
    color: #14bef0;
    border: 1px solid #14bef0;
    background-color: #fff;
    border-radius: 5px;
    padding: 7px 27px;
    display: inline-block;
    margin-top: 29px;
    margin-left: 1px;
    margin-right: 20px;
    margin-bottom: 30px;
}

    .btn-style:hover {
        color: white;
        border: 1px solid #14bef0;
        background-color: #14bef0;
    }


@media only screen and (min-width: 991px) and (max-width:1238px) {
    .btn-style {
        font-size: 0.6rem;
        padding: 5px 21.5px;
    }

    .rightbar .doc-detail {
        margin-left: 20px;
    }
}

@media only screen and (min-width:1200px) and (max-width:1238px) {
    .btn-style {
        font-size: 0.9rem;
    }
}


@media only screen and (min-width:768px) and (max-width:991px) {
    .rightbar .box-style {
        width: 114%;
        margin-left: -78px;
    }

    .rightbar .main-year-heading {
        margin-left: -68px;
    }

    .rightbar .doc-detail {
        margin-left: 33px;
        font-size: 0.8rem;
    }

    .btn-style {
        font-size: 0.5rem;
        font-weight: 500;
        padding: 2px 9.5px !important;
    }
}
