body {
    overflow: none !important;
}

.row {
    margin-top: 5% !important;
    padding: 30px;
}

.left-side-text {
    margin-left: 5%;
}

.st-heading {
    font-size: 1.5rem;
    font-weight: 500;
    color: darkblue;
    margin-left: 13%;
}



/* .card-body{
   
} */
.img-col-sty {
    z-index: 1;
}

/* .img-col-sty2{
    border-radius: 0px 500px 0px 0px;
    /* background-color: rgb(236, 0, 0); */
/* z-index: 2; */
/* } */

.card-title {
    font-size: 30px;
    color: white;
}

.card-text {
    font-size: 15px;
    color: white;
}

.subtext {
    margin-top: 3%;
    font-size: 1.1rem;
}

    .subtext ul li:before {
        content: '+';
        list-style: none;
        font-size: 1.2rem;
        color: #106eea;
        font-weight: 1000;
        margin-right: 8px;
    }

    .subtext ul li {
        list-style: none;
    }

.steps .steps-style {
    margin-top: 17%;
    font-size: 32px;
}

.clickhere-btn-style {
    background-color: white;
    font-size: 1rem;
    padding: 2.5% 8%;
    border: 1px solid #14bef0;
    color: #14bef0;
    margin-top: 5%;
    font-weight: 550;
    letter-spacing: 1px;
    border-radius: 5px;
}

    .clickhere-btn-style:hover {
        border: 1px solid #14bef0;
        background-color: #14bef0;
        color: white;
        letter-spacing: 1px;
        font-weight: 550;
    }
